/*FONTS */
@font-face {
	font-family: 'Permanent Marker';
	src: 
        url("../fonts/PermanentMarker-webfont.woff") format('woff');
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: 
        url("../fonts/UbuntuMono-Regular.ttf") format('truetype');
}



/* GENERAL */
* {
    box-sizing: border-box;
}



/* FLEXBOX */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}



/* DESIGN */
body {
    background: linear-gradient(rebeccapurple 5%, mediumpurple 20%, lightpink);
    font-family: 'Ubuntu Mono', monospace;
    margin: 0 auto;
    padding: 1em 0.5em 0 0.5em;
}

p {
    font-size: 1.4em;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.themeswitch {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.9em;
    opacity: 0.3;
}

h1 {
    font-family: 'Permanent Marker', 'Arial Black', sans-serif;
    text-align: center;
    font-size: 2.6em;
    color: white;
    text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    padding: 0 0.2em;
}

#searchbar {
    position:relative;
    width: 89vw;
    height: 2.2em;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 2.2em;
    margin: 0;
    padding-left: 1em;
    border-width: 0;
    border-radius: 0.4em;
    outline: none;
    font-size: 1.2em;
    color: #5E6263;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 2.2em;
    margin: 0;
    padding: 0.5em;
    border: none;
    border-radius: 0 0.4em 0.4em 0;
    outline: none;
    background-color: #34CFFA;
    color: white;    
    font-size: 1.2em;
}    

button:hover {
    background: #0BACD9;
}

main {
    padding-top: 2em;
    text-align: center;
    max-width: 100%;
}

.welcomeimg {
    width: 60vw; 
    max-width: 300px;
    display: block;
    margin-top: 1em;
    box-shadow: 0px 0px 1em #fff;
}
 
.thumbnail {
    width: 45vw;
    height: 20vh;
    object-fit: cover;
    padding: 0.1em 0.2em;
}

.bigicon {
    font-size: 4em;
    margin: 0;
    color: white;
}

footer {
    margin: 6em 0 1em 0;
    text-align: center;
} 

footer p {
    font-size: 0.9em;
    opacity: 0.5;
}


.giphylogo {
    width: 180px; 
    max-width: 40vw;
}



/* MEDIA QUERIES */

/* small devices and landscape phones */
@media screen and (min-width: 565px) and (orientation:landscape){
    .thumbnail {
        height: 60vh;
    }
}



/* tablets */
@media screen and (min-width: 768px) {
    .thumbnail {
        width: 30vw;
        height: 18vh;
    }

    h1 {
        font-size: 3.5em;
    }

    #searchbar {
        width: 65vw;
    }

    main {
        padding-top: 3em;
    }

    .welcomeimg {
        margin-top: 3em;
    }
}



/* desktops */
@media screen and (min-width: 992px) {
    .thumbnail {
        width: 20vw;
        height: 20vh;
    }

    #searchbar {
        width: 50vw;
    }
}



/* large desktops */
@media screen and (min-width: 1200px) {
    .thumbnail {
        width: 15vw;
    }

    #searchbar {
        max-width: 620px;
    }
}

/* 4K */
@media screen and (min-width: 2550px) {
   .thumbnail {
        height: 25vh;
    }

    h1 {
        font-size: 5.5em;
    }

    #searchbar {
        max-width: 920px;
    }

    #searchbar,
    input,
    button {
        height: 3em;
    }

    input, 
    button {
        font-size: 1.3em;
    }

    main {
        padding-top: 5em;
    }

    .welcomeimg {
        max-width: 450px;
    }
}